<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/tipsy.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.gridster.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" type="text/css" href="css/kube.min.css">
  <link rel="stylesheet" type="text/css" href="css/multiples.css">
  <link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/css/font-awesome.min.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.gridster.with-extras.js"></script>
  <script type="text/javascript" src="js/jquery-ui.js"></script>
  <script type="text/javascript" src="js/jquery.tipsy.js"></script>
  <script type="text/javascript" src="js/jquery.tipsy.js"></script>
  <script type="text/javascript" src="js/d3.js"></script>
  <script type="text/javascript" src="js/multiples.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
