<div class="overlay"></div>

<div class="intro" style="background: url(img/head-bg.jpg) #F7F7F7 center 35%;">
    <div class="container">
        <div class="units-row">
            <div class="unit-10">
                <img class="img-intro" src="img/avatar.png" alt="">
            </div>
            <div class="unit-90 ui-widget">
                <p class="p-intro">
					<input id="tags" size="50" placeholder="Search for players and hit ENTER...">
                </p>
            </div>
        </div>
    </div>
</div>

<section id="wrapper">
	<div class="gridster">
		<ul>
			<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
			<li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
			<li data-row="1" data-col="3" data-sizex="1" data-sizey="1"></li>
			<li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
		</ul>
	</div>
</section>