p {
	font-family: "PT Sans", sans-serif;
	font-style: italic;
}

input {
  border: 0px solid;
}

input:focus {
  outline: none;
}

body {
	background: #A4A4A4;
}

.bar.positive {
  fill: white;
  shape-rendering: crispEdges;
}

.bar.negative {
  fill: white;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gridster li {
  padding: 9px 0 0 1px;
}

.gridster li > p {
	margin-left: 10px;
}